#chat .chat-main .isVip .username,
#chat .chat-main .isVip .username:hover,
#chat .chat-main .isVip .username:visited
{
    color: #FFFFFF !important;
}
#chat .chat-main .isVip .username::before
{
    content:       "V";
    position:      relative;
    top:           4px;
    padding-right: 2px;
}
