#chat .chat-main .isVip .username,
#chat .chat-main .isVip .username:hover,
#chat .chat-main .isVip .username:visited
{
    color: #ff80bf !important;
}
#chat .chat-main .isVip .username::before
{
    content:       url(http://i.imgur.com/ZgdR7JX.png);
    position:      relative;
    top:           4px;
    padding-right: 2px;
}
