@import url("https://dl.dropboxusercontent.com/s/o1lwdygyghz5msq/AngeloidIkaros_Legacy_CSS.css");

/* Maskinen */
#chat .chat-container ul.chat-main li.user-5607ef7e424a6203007d4fbe .activity-row .username, 
#main_avatar_room #main-user-list-room #avatar-list li.user-5607ef7e424a6203007d4fbe {
  color:rgb(218, 0, 0) !important;
}
 /* Frosolf */
#chat .chat-container ul.chat-main li.user-56698980850a4b130025abcc .activity-row .username,
#main_avatar_room #main-user-list-room #avatar-list li.user-56698980850a4b130025abcc{
 color: #99F5FF !important;
}
 /* Snaky */
#chat .chat-container ul.chat-main li.user-55ffe2e0196f170300cc1037 .activity-row .username,
#main_avatar_room #main-user-list-room #avatar-list li.user-55ffe2e0196f170300cc1037{
  color:rgb(42, 125, 25) !important;
}
